<!-- Main -->
<div id="main">
  <!-- Header -->
  <header id="header" style="background-image: url(<%= asset_path('fondo/fondovw.jpg') %>); background-size: cover; background-position: center;">
    <div class="logo-container">
      <%= image_tag("logos/logovw.png", class: "logo") %>
    </div>

     <li><%= link_to 'Inicio', root_path, style: 'color: black;' %></li>
        
  </header>

  <!-- Content -->
  <section id="content" ; background-size: cover; background-position: center;">
    <article>
      <h2>Acerca de los VW Escarabajos</h2>
      <p>Los VW Escarabajos, también conocidos como Volkswagen Beetle, son automóviles icónicos que han dejado una huella indeleble en la historia del automovilismo. Estos vehículos compactos y elegantes fueron producidos por Volkswagen desde 1938 hasta 2003, convirtiéndose en uno de los autos más vendidos de todos los tiempos.</p>
      
      <p>El diseño distintivo del VW Escarabajo, con sus curvas suaves y su forma aerodinámica, lo convirtió en un verdadero ícono de estilo. Además, su motor trasero refrigerado por aire y su tracción trasera le dieron un manejo único y divertido.</p>
      
      <p>El VW Escarabajo se ganó el corazón de millones de personas en todo el mundo y se convirtió en un símbolo de libertad y aventura. Desde su participación en el mundo de las carreras hasta su presencia en películas y música, el Escarabajo dejó una marca imborrable en la cultura popular.</p>
      
      <p>Aunque la producción del VW Escarabajo cesó en 2003, su legado sigue vivo en la actualidad. Los amantes de los autos clásicos y los coleccionistas continúan apreciando y preservando estos vehículos como tesoros de la historia automotriz.</p>
      
      <p>En esta galería de imágenes interactivas, te invitamos a explorar y disfrutar de la fascinante historia, el diseño icónico y el impacto cultural del VW Escarabajo. Sumérgete en cada imagen y descubre los detalles que hacen de este automóvil un verdadero ícono de la industria.</p>
    </article>
  </section>

  <!-- Footer -->
  <footer id="footer" style="background-image: url(<%= asset_path('fondo/fondovw.jpg') %>); background-size: cover; background-position: center;">
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>

    <ul class="copyright">
      <li>&copy; </li><li>Idea y diseño Reyes Moreno</a>.</li>
    </ul>
  </footer>
</div>
